body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#game-container {
  display: flex;
  margin: 20px;
  flex-grow: 1;
}

#chessboard-container {
  width: 75vmin;
  height: 75vmin;
  position: relative;
}

#chessboard {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  z-index: 1;
}

.draggingDiv {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#sidebar {
  flex-grow: 1;
  min-width: 225px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

#fen-import-container {
  margin-top: 10px;
}

#fen-input {
  width: 100%;
  margin-bottom: 10px;
}

#submit-fen {
  margin-bottom: 10px;
}

#navigation {
  display: flex;
  justify-content: space-between;
}

#move-history {
  height: 100%;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  overflow-y: auto;
}

#move-history-title {
  text-align: center;
}

#prev-move,
#next-move {
  cursor: pointer;
}

#text-areas-container {
  width: 100%;
  flex: 1;
  margin: 0px 20px 0px 20px;
}

#pgn-box,
#fen-box {
  width: 100%;
  margin-bottom: 10px;
  resize: vertical;
}

#pgn-box {
  height: 100px;
}

#fen-box {
  height: 50px;
}

/*After 1200px width, center everything
  Under 800px width, put move history under chessboard (columns)*/
