body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#outer-container {
  display: flex;
  margin: 20px;
}

#game-container {
  display: flex;
  flex-grow: 1;
}

#chessboard-container {
  width: 75vmin;
  height: 75vmin;
  min-width: 75vmin;
  position: relative;
}

#chessboard {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  z-index: 1;
}

.draggingDiv {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#sidebar {
  flex-grow: 1;
  height: 75vmin;
  max-width: 325px;
  min-width: 225px;
  margin: 0px 20px 20px 20px;
  display: flex;
  flex-direction: column;
}

#fen-import-container {
  margin-top: 10px;
}

#fen-input {
  width: 100%;
  margin-bottom: 10px;
}

#submit-fen {
  margin-bottom: 10px;
}

#navigation {
  display: flex;
  justify-content: space-between;
}

#move-history {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  height: 100%;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  overflow-y: auto;
}

#move-history-title {
  text-align: center;
}

.full-move {
  display: flex;
  align-items: center;
  margin: 4px;
}

.move-history-entry {
  cursor: pointer;
  margin: 3px;
}

#prev-move,
#next-move {
  cursor: pointer;
}

#text-areas-container {
  width: 100%;
  flex: 1;
  margin-top: 20px;
}

#pgn-box,
#fen-box {
  width: 100%;
  margin-bottom: 10px;
  resize: vertical;
}

#pgn-box {
  height: 75px;
}

#fen-box {
  height: 35px;
}

@media (max-width: 1010px) {
  body {
    flex-direction: column;
    align-items: center;
  }

  #outer-container,
  #game-container,
  #text-areas-container {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  #sidebar {
    width: 75%;
    max-width: none;
    margin: 0;
  }

  #move-history {
    min-height: 150px;
    width: 100%;
  }

  #text-areas-container {
    margin: 20px 0px 0px 0px;
    align-self: center;
  }
}

@media (min-width: 1150px) {
  #outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 1150px;
    margin: auto;
  }

  #game-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #chessboard-container {
    width: 75vmin;
    height: 75vmin;
  }

  #sidebar {
    width: 325px;
    max-width: 325px;
  }

  #text-areas-container {
    width: 75vmin;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
